
  <footer>
    <div class="container">
      <div>Copywrite 2026 TradersDigital</div>

      <div class="footer-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
      </div>

      <div class="footer-contact">
        support@tradersdigital.com
      </div>

    </div>
  </footer>

  </body>

  </html>