<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Traders Digital - Websites & App for Plumbers Electricians Builders Joiners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/scss/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Header -->

    <header id="main-header">
        <div class="container flex justify-between items-center">
            <div class="header-left flex items-center">
                <a class="branding flex flex-column justify-center items-center" href="/">
                    <img src="/public/img/logo.png" alt="TradePlatform Logo" class="logo">
                    <h3>Traders<span>Digital</span></h3>
                </a>
              
        </div>
    </header>