<%- getTemplatePart('main_site/header') %>

  <!-- HERO -->

  <section class="hero">
    <div class="container hero-content flex items-center justify-between">

      <div class="hero-text">
        <h1>The Complete Platform for Trade Businesses</h1>
        <p>
          Website<br> Customers & Jobs App<br>Invoice Generation
        </p>

        <div class="hero-buttons">
          <a href="/sign-up" class="btn-primary">Start Free Trial</a>
        </div>
      </div>

      <div class="hero-video">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    

    </div>
  </section>

  <!-- TRUST BAR -->

  <section class="trust-bar">
    <div>Used by Electricians</div>
    <div>Used by Plumbers</div>
    <div>Used by Builders</div>
    <div>Used by Roofers</div>
  </section>

  

  <section class="tag-line">
    <h2>Everything a Trade Business Needs in One Place</h2>
  </section>

  <!-- PROBLEM -->

  <section class="problem">
    <div class="container">
      

      <h3>A lot of trade businesses have:</h3>

      
      <div class="problem-grid">
        <div class="problem-item"><span>❌</span> No website</div>
        <div class="problem-item"><span>❌</span> Poor customer management</div>
        <div class="problem-item"><span>❌</span> Paper invoices</div>
      </div>
     

    </div>
  </section>

  <!-- FEATURES -->

  <section class="features" id="features">
    <div class="container">

      <h2>Platform Features</h2>

      <div class="features-grid">

        <div class="feature-item">
           <img width="100" src="/public/img/website.svg" alt="Customer Management Icon"/>
          <h3>Website</h3>
          <p>As part of our package you get a modern website for your business with a custom domain and email.</p>
        </div>

        <div class="feature-item">
          <img width="100" src="/public/img/users.svg" alt="Customer Management Icon"/>
          <h3>Customer Management</h3>
          <p>Using both our web and mobile apps you can manage all your customers in one place.</p>
        </div>

        <div class="feature-item">
           <img width="100" src="/public/img/jobs.svg" alt="Job Management Icon"/>
          <h3>Job Manager</h3>
          <p>Track all work in one place.<br>View calendar and schedule.<br>Upload photos in case of disputes.</p>
        </div>

        <div class="feature-item">
          <img width="100"  src="/public/img/invoice.svg" alt="Invoice Icon"/>
          <h3>Invoices</h3>
          <p>Create invoices instantly.</p>
        </div>

        <div class="feature-item">
          <img width="100" src="/public/img/call.svg" alt="Call Handling Icon"/>
          <h3>Call Handling</h3>
          <p>Never miss a job again.</p>
        </div>

        <div class="feature-item">
           <img width="100" src="/public/img/accounts.svg" alt="Accounts Icon"/>
          <h3>Accounts</h3>
          <p>Simple accounting tools.</p>
        </div>

      </div>
    

    </div>
  </section>

  <!-- PRICING -->

  <section class="pricing" id="pricing">
    <div class="container">

      <h2>Pricing</h2>

      <div class="pricing-grid">

        <div class="pricing-card">
          <h3>Basic</h3>
          <p>£19/mo</p>
          <ul>
            <li>Website</li>
            <li>Hosting</li>
            <li>Domain Name</li>
            <li>SEO & AI Optimized </li>
            <li>Email</li>
          </ul>
          <button>Start Trial</button>
        </div>

        <div class="pricing-card highlight">
          <h3>Professional</h3>
          <p>£49/mo</p>
          <ul>
            <li>Everything in the Basic Package</li>
            <li>Customer Management</li>
            <li>Job Manager</li>
            <li>Invoice Management and Generation</li>
            <li>Calendar</li>
            <li>Photo Upload</li>
            <li>Auto Route Planner</li>
          </ul>

          <a href="/start-pro-trail" class="btn-primary">Start Trial</a>
        </div>

        <div class="pricing-card">
          <h3>Fully Managed</h3>
          <p>£299/mo</p>
          <ul>
            <li>Everything in the Professional Package</li>
            <li>Call handling</li>
            <li>Accounts</li>
          </ul>
          <button>Coming Soon</button>
        </div>

      </div>
    
    </div>
  </section>

  <!-- FAQ -->

  <section class="faq">
    <div class="container">
      <h2>FAQ</h2>

      <div class="faq-item">
        How long does setup take? — Less than 10 minutes to setup both the website and the app.
      </div>

      <div class="faq-item">
        Do I require technical skills? — Everything within Traders Digital is designed for non-technical people. All tasks are as simple as filling a form and clicking a button 
      </div>
      <div class="faq-item">
        What if I require a custom feature? — If you need your website or the app to do something specific to your business that we don't currently offer, we can build it for you. Just get in touch with our support team.  
      </div>
      <div class="faq-item">
        What if I need to cancel? — You can cancel at any time and get a full refund for the month. No questions asked. 
      </div>
    </div>
  </section>

  <!-- FINAL CTA -->

  <section class="final-cta">
    <div class="container">

      <h2>Start Getting More Jobs Today</h2>

      <button class="btn-primary">Start Free Trial</button>
  

    </div>
  </section>

  <%- getTemplatePart('main_site/footer') %>