<%- getTemplatePart('main_site/header-home') %>

  <!-- HERO -->

  <section class="hero">
    <div class="container hero-content flex items-center justify-between">

      <div class="hero-text">
        <h1>The Complete Platform for Trade Businesses</h1>
        <p>
          Website<br> Customers & Jobs App<br>Invoice Generation <br>Online Payments
        </p>

        <div class="hero-buttons">
          <a href="/sign-up" class="btn-primary">Create My Website</a>
        </div>
        <h4>Free 7-day trial<br>2 Minutes to Launch</h4>

      </div>

      <div class="hero-video">
        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    

    </div>
  </section>

  <!-- TRUST BAR -->

  <section class="trust-bar">
    <div>Used by Electricians</div>
    <div>Used by Plumbers</div>
    <div>Used by Builders</div>
    <div>Used by Roofers</div>
  </section>

  

  <section class="tag-line">
    <h2>Everything a Trade Business Needs in One Place</h2>
  </section>

  <!-- PROBLEM -->

  <section class="problem">
    <div class="container">
      

      <h3>Many Trade Businesses have:</h3>

      
      <div class="problem-grid">
        <div class="problem-item"><span>❌</span> No website</div>
        <div class="problem-item"><span>❌</span> Poor customer management</div>
         <div class="problem-item"><span>❌</span> Lack job tracking</div>
        <div class="problem-item"><span>❌</span> Paper invoices</div>
        <div class="problem-item"><span>❌</span> No card payments</div>
      </div>
     

    </div>
  </section>

  <!-- FEATURES -->

  <section class="features" id="features">
    <div class="container">

      <h2>With Our Platform You Get</h2>

      <div class="features-grid">

        <div class="feature-item">
           <img width="100" src="/public/img/website.svg" alt="Customer Management Icon"/>
          <h3>Website</h3>
          <p>As part of our package you get a modern website for your business with a custom domain and email.</p>
        </div>

        <div class="feature-item">
          <img width="100" src="/public/img/users.svg" alt="Customer Management Icon"/>
          <h3>Customer Management</h3>
          <p>Using both our web and mobile apps you can manage all your customers in one place.</p>
        </div>

        <div class="feature-item">
           <img width="100" src="/public/img/jobs.svg" alt="Job Management Icon"/>
          <h3>Job Manager</h3>
          <p>Track all work in one place.<br>View calendar and schedule.<br>Upload photos in case of disputes.</p>
        </div>

        <div class="feature-item">
          <img width="100"  src="/public/img/invoice.svg" alt="Invoice Icon"/>
          <h3>Invoices</h3>
          <p>Manage invoices. Easy monitor unpaid invoices. One click email, download and print.</p>
        </div>
        <div class="feature-item">
          <img width="100" src="/public/img/card.svg" alt="Accounts Icon"/>
          <h3>Take Online Payments</h3>
          <p>You can allow your customers to pay for your services online. </p>
        </div>

        <div class="feature-item">
          <img width="100" src="/public/img/call.svg" alt="Call Handling Icon"/>
          <h3>Call Handling</h3>
          <p>Never miss a job again.</p>
        </div>

        <div class="feature-item">
           <img width="100" src="/public/img/accounts.svg" alt="Accounts Icon"/>
          <h3>Accounts</h3>
          <p>Simple accounting tools.</p>
        </div>
        <div class="feature-item">
           <img width="100" src="/public/img/route.svg" alt="Accounts Icon"/>
          <h3>Route Planner</h3>
          <p>Our app organizes your jobs based on distance from your base and plans out a route to minimize travel time.</p>
        </div>
       
        

      </div>
    

    </div>
  </section>

  <!-- PRICING -->

  <section class="pricing" id="pricing">
    <div class="container">

      <h2>Pricing</h2>

      <div class="pricing-grid">

        <div class="pricing-card">
          <h3>Basic</h3>
          <p>£19/mo</p>
          <ul>
            <li>Website</li>
            <li>Hosting</li>
            <li>Domain Name</li>
            <li>SEO & AI Optimized </li>
            <li>Email</li>
          </ul>
          <a href="/sign-up">Start Free Trial</a>
        </div>

        <div class="pricing-card highlight">
          <h3>Professional</h3>
          <p>£49/mo</p>
          <ul>
            <li>Everything in the Basic Package</li>
            <li>Customer Management</li>
            <li>Job Manager</li>
            <li>Invoice Management and Generation</li>
            <li>Online Payments</li>
            <li>Calendar</li>
            <li>Photo Upload</li>
            <li>Auto Route Planner</li>
          </ul>

          <a href="/sign-up">Start Free Trail</a>
        </div>

        <div class="pricing-card">
          <h3>Fully Managed</h3>
          <p>£299/mo</p>
          <ul>
            <li>Everything in the Professional Package</li>
            <li>Call handling</li>
            <li>Handle job bookings</li>
            <li>Chase unpaid invoices</li>
            <li>Accounts</li>
          </ul>
          <button>Coming Soon</button>
        </div>

      </div>
    
    </div>
  </section>

  <!-- FAQ -->

  <section class="faq">
    <div class="container">
      <h2>FAQ</h2>

      <div class="faq-item">
        <h3>How long does setup take?</h3> 
        <p>Its takes less than 10 minutes to setup both the website and the app. <br> You can select a domain name immediately, but we do not register it until the first payment is taken as we are not the registars.</p>
      </div>

      <div class="faq-item">
        <h3>Do I require technical skills?</h3>  
        <p>Everything within Tradeely is designed for non-technical people.<br> All actions are as simple as filling a form and or clicking a button. </p>
      </div>

      <div class="faq-item">
        <h3>Can I use my existing domain name or register one myself?</h3> 
        <p>Yes, if you have an existing domain name you simply need to point it to our server.  If you want to register your own domain, you can do this using one of the many registars and again point the domain to our server.<br>(We can handle pointing of the domain to our server)</p>
      </div>
      <div class="faq-item">
        <h3>What if I require a custom feature?</h3>  
        <p>If you need your website or the app to do something specific to your business that we don't currently offer, we can build it for you.<br>Just get in touch with our support team.</p>  
      </div>
      <div class="faq-item">
        <h3>What if I need to cancel?</h3>  
        <p>You can cancel the monthly contract at any time and get a refund for the current month. No questions asked. </p>
      </div>
      <div class="faq-item">
       <h3>When will call handeling and office services be available?</h3>  
       <p>We are planning to launch full office services in quarter four of this year.<br>All current users will easily be able to upgrade to this package.</p>
      </div>
    </div>
  </section>

  <!-- FINAL CTA -->

  <section class="final-cta">
    <div class="container">

      <h2>Start Getting More Jobs Today</h2>

      <a href="/sign-up" class="btn-primary">Begin Free Trial Now</a>
  

    </div>
  </section>

  <%- getTemplatePart('main_site/footer') %>