<%- getTemplatePart('main_site/header_secondary') %>

    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <div class="sign-up-hero">
        <h1>Join Thousands of Trade Businesses<br>Growing with Tradeely</h1>
     </div>

     <div id="sign-up">

     </div>
    

     <script src="/public/vue/sign_up/dist/signup.js?v=<%=  Date.now() %>"></script>

  <%- getTemplatePart('main_site/footer') %>