@use '../globals' as *;
.hero {
    
    background-image: url('/public/img/hero.png');
    background-size: cover;
    background-position: center;

    .hero-content {
        padding-top:210px;
        padding-bottom:80px;
        background:rgba(0, 0, 0, 0.8);

        .hero-text {
            max-width: 800px;
        }

        .hero-text h1 {
            font-size: 80px;
            line-height: 100px;
            
            margin-bottom: 20px;
            
            color:#04e0ec;
             text-align: center;
            font-size: 51px;
            line-height: 60px;
            margin-top: 100px;
        }

        .hero-text p {
            font-size: 40px;
            margin-bottom: 20px;
            color:#50c4fa;
        }

        h5 {
            font-size: 16px;

            margin-bottom: 20px;
            font-weight: 600;
        }

        .hero-buttons {
            
            a {
                 font-size: 20px;
                 background: #04e0ec;
                 color: #fff;
                 padding: 20px 30px;
                 border-radius: 40px;
            }
        }

        .hero-video iframe {
            width: 100%;
            max-width: 560px;
            height: 315px;
            border-radius: 12px;
        }
    }
}

.trust-bar {
    background: $secondary-color;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
}

.tag-line {
    padding: 60px 0;
    text-align: center;
    background:$primary-color;
    color:#fff;

    h2 {
        font-size: 36px;
    }
}

@media (min-width:768px) {
    .hero {
    
   

    .hero-content {
        

        .hero-text {
            max-width: 800px;
        }

        .hero-text h1 {
            font-size: 80px;
            line-height: 100px;
            
            margin-bottom: 20px;
            margin-top:0px;
            text-align: left;

        }

        .hero-text p {
            font-size: 40px;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 16px;

            margin-bottom: 20px;
            font-weight: 600;
        }

        .hero-buttons {
            
            a {
                 font-size: 20px;
                 background: #03585c;
                 color: #fff;
                 padding: 28px 30px;
                 border-radius: 40px;
            }
        }

        .hero-video iframe {
            width: 100%;
            max-width: 560px;
            height: 315px;
            border-radius: 12px;
        }
    }
}
}